

.navigatie {

    background-color: #B4BDD0;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    height: 150px;


}

.logo {
    width: 110px;
    height: 50px;
}






.navigatie ul {
    list-style-type: none;
   
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #B4BDD0;
}



.navigatie a {

    text-decoration: none;
    margin-left: 170px;
    color: #333467;
}




.koptekst {
    color: white;
    font-size: 30px;
    padding-top: 20px;
}


.koptekst2{
    color: #333467;
    font-size: 30px;
    padding-top: 20px;


}

.nieuwe_look_section {
    padding-left: 30px;
    background-color: #F9C19D;
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;


}



.section_3{

   background-color: var(--luchtBlauw);
    padding-left: 30px;
   
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;



}




.laatsteNieuws {
    padding-left: 30px;
    background-color: var(--paarsBlauw);
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;

}

.wolkje1 {


    width: 80px;
    height: 40px;
}

.wolkje2 {

    width: 80px;
    height: 40px;
}

.nieuwe_look {

    width: 240px;
    height: 160px;
}


/*code nieuwsbrief*/



.nieuwsbrief {


    background-color: #333467;
    height: 300px;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;



}

.titel-nieuwsbrief {
    color: white;
    font-style: italic;
    font-size: 35px;
}

.textlabel {
    flex-direction: column;
    color: white;
    display: flex;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.textinput {


    border-radius: 30px;
    border-color: white;
    border-style: solid;
    padding-left: 10px;
    font-size: 15px;
}

.buttonlabel {
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;




}


.button_form {

    margin-top: 20px;
    border-radius: 30px;
    border-color: #EA5B0C;
    border-style: solid;
    color: white;
    font-size: 15px;
    background-color: var(--torenOranje);


    &:hover {
        background-color:white;
        color: #333467;
    }

}